@import "../../styles/core";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  &.hidden {
    background: rgba($color: #000000, $alpha: 0);
    transition: background 200ms ease-out;
    .modal__content {
      transition: transform 1.5s ease-out;
      transform: translateY(-100vh);
    }
  }
  .modal__content {
    border-radius: 0 0 3px 3px;
    margin: 0 auto;

    min-width: 50vw;
    width: fit-content;
    max-width: 90vw;

    padding: 20px;
    background: $background;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
  }
}