$text-color: rgba(44, 54, 63, 1);
$accent1: rgba(140, 173, 167, 1);
$accent2: rgba(231, 90, 124, 1);
$background: rgba(244, 244, 244, 1);
$shade: rgba(219, 219, 219, 1);

$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;